<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label for="firstName">First Name:
    <input type="text" id="firstName" formControlName="firstName">
  </label>
  <br><br>
  <label for="lastName">Last Name:
    <input type="text" id="lastName" formControlName="lastName">
  </label>
  <br>
  <div formGroupName="address">
    <h3>Address</h3>
    <label for="street">Street:
      <input type="text" id="street" formControlName="street">
    </label>
    <br><br>
    <label for="city">City:
      <input type="text" id="city" formControlName="city">
    </label>
    <br><br>
    <label for="state">State:
      <input type="text" id="state" formControlName="state">
    </label>
    <br><br>
    <label for="zip">Zip Code:
      <input type="text" id="zip" formControlName="zip">
    </label>
  </div>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  <button type="button" (click)="updateProfile()">Update Profile</button>
</form>
